.container {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #292d33;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px;
    width: 50%;
}

.text {
    resize: none;
    width: 50%;
    color: #D1D0C5;
    font-family: monospace;
    font-size: 15px;
}

.noSelect {
    user-select: none;
}

.timer {
    font-size: 25px;
}