.container {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    box-sizing: border-box;
    background-color: #292d33;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px;
    width: 50%;
}

.text {
    box-sizing: border-box;
    resize: none;
    width: 50%;
    color: #D1D0C5;
    font-family: monospace;
    font-size: 15px;
    font-weight: 1000;
    letter-spacing: 1px;

    padding-left: 10.6rem;
    padding-right: 10.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border-style: none;
    border-color: Transparent;
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;

    margin-top: 1rem;
}

.noSelect {
    user-select: none;
}

.editor {
    margin-top: 5rem;
    border-style: solid;
    border-width: 3px;
    border-color: #393939;

    .flex-column {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-column .column-item {
        flex-basis: 100%;
    }
}

.editor .half {
    width: 50%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

select {
    margin: 0;
    width: 49%;
    height: 39px;
    border-color: black;
    border-width: 2px;
}

.wrapper {
    width: 100%;
    position: relative;

    #first {
        float: left;
        width: 100%;
        margin-right: 0;
    }

    #second {
        float: right;
        position: absolute;
        left: 50%;
        transform: translate(0, 10px);
    }
}

.wrapper-editor {
    margin-top: 5rem;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: auto;
    width: 95vw;
    background-color: white;
}

.editor1 {
    .CodeMirror {
        height: auto;
    }
}

.editor2 {
    height: 100%;
    .CodeMirror {
        height: inherit;
    }
}