<app-timer [timerStarted]="timerStarted" [reset]="resetTimer" (timeEvent)="getTimerSeconds($event)"></app-timer>

<div *ngIf="this.currentSnippet" class="wrapper-editor" [style.--editorWidth]="editorWidthVar">
    <ngx-codemirror #codeeditor1 [options]="snippetOptions" [(ngModel)]="this.currentSnippet.content" class="editor1">
    </ngx-codemirror>
    <ngx-codemirror #codeeditor2 [options]="editorOptions" [(ngModel)]="text" (keydown)="handleKeydown($event)"
        class="editor2">
    </ngx-codemirror>
</div>

<!-- <div class="wrapper">
    <app-leaderboard id="first" [snippetId]="snippetId"></app-leaderboard>
    <select id="second" [(ngModel)]="currentTheme" (ngModelChange)="onChange($event)">
        <option *ngFor="let theme of themes" [ngValue]="theme">{{theme}}</option>
    </select>
</div> -->