.footer {
    background-color: #272b30;

    position:fixed;
    bottom:0;

    width: 100%;
    margin-top: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

div {
    margin: 0;
}

p,
a {
    color: gray;
    text-decoration: none;
}

p {
    padding-left: 20px;
}

a:hover {
    color: rgb(82, 155, 173);
}