.footer {
    background-color: #272b30;
    position: fixed;
    width: 100%;
    height:70px;
    bottom: 0;
    margin-top: 30px;
}

div {
    margin: 0;
}

p,
a {
    color: gray;
    text-decoration: none;
}

p {
    padding-left: 20px;
}

a:hover {
    color: rgb(82, 155, 173);
}